<!--section-1-->
<div class="section-1">
  <div class="about">
    <h1>ABOUT</h1>
    <p>AUTOMATION AND BEYOND</p>
  </div>
  <div class="back"></div>
  <div class="backGround">
    <img src="../../assets/New folder/photography-of-city-buildings-941195.jpg" />
  </div>
</div>
<!--section-1-->
<!--section-2-->
<div class="section-2 text-center">
  <div class="container">
    <h1>OUR STORY</h1>
    <p>
      A global business transformation solutions provider specialized in a wide array of services including; Strategic
      Outsourcing, Digital Transformation and Operations Technology. With dynamic outsourcing and engagement models,
      focusing on building strategic partnerships with its customers and delivering outstanding levels of quality at a
      very competitive price.
    </p>
    <div class="intro-group">
      <i class="fas fa-sort-amount-up-alt"></i>
      <div>
        <a>Intro</a><br />
        <a>Group</a>
      </div>
    </div>
    <p>
      Advansys ESC is part of <a>INTRO Group</a>, a private conglomerate established in 1980 with the mission of
      investing and actively managing companies in diversiﬁed industries, including oil and gas, pharmaceutical,
      specialized engineering, ﬁnancial investment and commercial representation.
    </p>
  </div>
</div>
<!--section-2-->
<!--section3-->
<div class="section3">
  <div class="overlay">
    <div>
      <div class="row">
        <div class="col-md-4">
          <h1>MISSION</h1>
          <p>
            3^3 Augmenting the power of automation in 3 regions through saving 3 Million Operation Hours within 3 years
          </p>
        </div>
        <div class="col-md-4">
          <h1>VISION</h1>
          <p>
            Creating the future with inspired<br />
            talents
          </p>
        </div>
        <div class="col-md-4">
          <h1>MOTO</h1>
          <p>Automation and Beyond</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--section3-->
