<!--section1-->
<div id="main-slider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner ">
    <div class="back">
      <div class="text">
        <h1 class="animated infinite bounceInRight slower">BUSINESS AUTOMATION</h1>
      </div>
      <div class="read">
        <a href="#">Read More</a>
      </div>
    </div>
    <div class="carousel-item carousel-one active"></div>
  </div>
</div>
<div class="section1">
  <div class="row">
    <div class="col">
      <div class="card1">
        <div class="items">
          <div class="bord"></div>
          <h3>BUSINESS AUTOMATION</h3>
          <p>
            The profound transformation of business and organizational activities, processes, competencies and models to
            fully leverage the changes and opportunities of a mix of digital technologies and their accelerating impact
            across society in a strategic and prioritized way, with present and future.
          </p>
          <a>read more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card1">
        <div class="items">
          <div class="bord"></div>
          <h3>INDUSTRIAL AUTOMATION</h3>
          <p>
            Advansys ESC establishes the standard in consulting by merging products, engineering services and innovative
            technologies into integrated solutions. Our consulting and engineering services work together to improve
            performance, quality and add value to the different across society industrial operations.
          </p>
          <a>read more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card1">
        <div class="items">
          <div class="bord"></div>
          <h3>STRATEGIC OUTSOURCING</h3>
          <p>
            Advansys ESC adopts flexible range of access to skilled customized collaboration and partnership models to
            guarantee value creation. We provide our customers with teams of technical expertise and access to skilled
            resources operating around the clock with customer provide value creation focused mindset...
          </p>
          <a>read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--section1-->
<!--section2-->
<div class="section2">
  <div class="row">
    <div class="col-md-6 col">
      <div class="card-left">
        <h2>STRATEGIC OUTSOURCING</h2>
        <p>
          Advansys ESC adopts flexible range of access to skilled customized collaboration and partnership around the
          clock with customer provide value creation focused mindset...
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-right">
        <img src="../../assets/13.jpg" />
      </div>
    </div>
  </div>
</div>
<!--section2-->
<!--section3-->
<div class="section3">
  <div>
    <div class="row">
      <div class="col-md-3">
        <span>4+</span>
        <p>Offices WorldWide</p>
      </div>
      <div class="col-md-3">
        <span>13+</span>
        <p>Countries</p>
      </div>
      <div class="col-md-3">
        <span>10+</span>
        <p>Business Partners</p>
      </div>
      <div class="col-md-3">
        <span>60+</span>
        <p>Global Customers</p>
      </div>
    </div>
  </div>
</div>
<!--section3-->
<!--section4-->
<div class="section4">
  <div class="bor"></div>
  <div class="global">
    <h1>GLOBAL LOCATIONS</h1>
  </div>
  <button>Get In Touch</button>
</div>
<!--section4-->
<!--section5-->
<div class="section5">
  <div>
    <div class="row">
      <div class="col-md-3">
        <div class="card-1">
          <span>Advansys <span class="esc">ESC</span></span>
          <p>engineering Services & consultancy</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-2">
          <h2>Business<br />AutoMation</h2>
          <div class="row ">
            <div class="col">
              <span><i class="fas fa-plus"></i>BPM</span><br />
              <span><i class="fas fa-plus"></i>OCR</span>
            </div>
            <div class="col">
              <span><i class="fas fa-plus"></i>Chatbot</span><br />
              <span><i class="fas fa-plus"></i>RPA</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-2">
          <h2>Industrial<br />AutoMation</h2>
          <div class="row">
            <div class="col">
              <span><i class="fas fa-plus"></i>Logistics Automation</span><br />
              <span><i class="fas fa-plus"></i>PLC & SCADA</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-2">
          <h2>strategic<br />outsourcing</h2>
          <div class="row">
            <div class="col">
              <span><i class="fas fa-plus"></i>Engagement Models</span><br />
              <span><i class="fas fa-plus"></i>Delivery Models</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--section5-->
<div class="footer">
  <p>Follow us on</p>
  <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
  <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i></a>
  <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
  <span> © Copyright 2020 Advansys ESC. All Rights Reserved</span>
  <div class="back2"></div>
</div>
